language: c
compiler:
  - gcc
  - clang

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq build-essential cmake libglib2.0-dev libgee-0.8-dev
         libjson-glib-dev libreadline-dev libsoup2.4-dev libgda-5.0-dev
         valac-0.18

before_script:
  - wget http://mirrors.us.kernel.org/ubuntu//pool/universe/c/couchdb-glib/libcouchdb-glib-1.0-2_0.7.4-0ubuntu3_i386.deb
  - wget http://mirrors.us.kernel.org/ubuntu//pool/universe/c/couchdb-glib/libcouchdb-glib-dev_0.7.4-0ubuntu3_i386.deb
  - sudo dpkg -i libcouchdb-glib-1.0-2_0.7.4-0ubuntu3_i386.deb libcouchdb-glib-de
v_0.7.4-0ubuntu3_i386.deb
  - mkdir build
  - cd build
  - cmake ..

script: make
